

.tabs .tab a:hover, .tabs .tab a.active{
    color: #0b97c4 !important;
    border-bottom: 1px solid #0b97c4 !important;
    text-decoration: none;
}

.tabs .tab a{
    color: #00b3ee;
}

.tabs .indicator{
    opacity: 0;
}

.custom-login-routes{
  padding-bottom: 100px !important;
  padding-top: 100px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  font-size: 24px;
}

.custom-link{
  font-size:72px;
}

.lender-signup{
  background: #ffffff;
}

.custom-login-routes .btn{
  font-weight: 800px !important; color: #FFFFFF;
}

.custom-login-routes .active{
  background: #FFFFFF !important;
  color: #000;
}
