body {
  background: url('../components/images/4.jpg');
  background-size: 100%;
  @media (max-width: 500px) {
    background-size: 267%;
    background-position-x: -254px;
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
  }
}

h1 {
  font-family: 'Permanent Marker', cursive;
  color: darkturquoise;
  position: absolute;
  top: 300px;
  width: 100%;
  text-align: center;
  font-size: 53px;
  text-shadow: 3px 8px #ff0000;
  @media (max-width: 500px) {
    right: 10px;
    font-size: 47px;
    top: 16px;
  }
}
