.home {
  font-family: 'Cinzel Decorative', cursive;
  background: #ffc6bf;
  color: #46413b;
  margin-left: 5%;
  padding: 10px;
  margin-right: 5%;
  margin-top: 10%;
  min-height: 60vh;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .hey {
    font-size: 32px;
    letter-spacing: 16px;
  }
  .circle {
    border-radius: 50%;
    background: #fff;
    text-align: center;
    margin: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    box-shadow: 0px 0px 0.5px 0px #46413b;
    transition: all 0.5s;
    .age {
      font-weight: 700;
      font-size: 34px;
      cursor: pointer;
    }
  }
  .circle:hover {
    box-shadow: 0px 0px 2px 0px #46413b;
    transition: all 0.5s;
  }
}
