.android-green{
	background: #A4C639 ;
}

body{
	background: url('bg.jpg');background-size: cover; width: 100%; background-attachment: fixed;
}

.landing{
	background: rgba(0,0,0,0.8); width: 100%;  position: fixed;
}

.landing-base{
	height: 100vh;
}

@media(max-width: 600px){
	.landing-base h1{
		font-size: 36px;
	}

	.landing-base h3{
		font-size: 24px;
	}
}

.about{
	position: relative; top: 100vh; min-height: 100vh; padding: 20px; padding-top: 50px;
}

.skills{
	position: relative; top: 100vh; min-height: 100vh; padding: 20px; padding-top: 50px;
}

.skill-heading{
	font-weight: bold; border-bottom: 1px solid #fff;
}

.custom-tabs-container{
	min-height: 600px;
}

.fa{
	font-weight: normal;
}