body{
  background:url('../images/bg.jpg');
  color: #fff;
  width: 100%;
  height: 100%;
  margin: 0px;
  // This should probably contain a background
  font-family: 'Barrio', cursive;
  .helper-text{
    text-align: center;
    padding-bottom: 50px;
  }
  .single-page-body-container{
    width: 100%;
    .main-text-happy-birthday{
      width: 100%;
      text-align: center;
      font-size: 64px;
      padding-top: 20%;
    }
  }
  a{
    color: #fff;
    text-decoration: underline;
    font-size: 24px;
    background: rgba(0,0,0,0.6);
    transition: all 0.5s;
  }
  a:hover{
    color: #000;
    background: rgba(255,255,255,0.6);
    transition: all 0.5s;

  }
}

.description-header-container{
  text-align: center !important;
}

.modals{
  color:#000;
  div{
    background-position: center;
  }
  p{
    font-family: Helvetica;
    padding-right: 50px;
    padding-left: 50px;
  }
  .modal-content{
    font-size: 16px !important;
  }
  @media(max-width: 600px){
    .modal-content{
      background:rgba(0,0,0,0.5);
      color:#fff;
      background-size: cover;
    }
  }
  .girl-modal{
    background:url('../images/girl.jpg');
    @media(max-width: 600px){
      background-size: 100%;
    }
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    .close-girlModal{
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      background: rgba(0,0,0,0.6);
      padding: 100px;
      color: #fff;
      font-size: 36px;
      cursor: pointer;
    }
    .modal-content{
      text-align: center;
      font-size: 24px;
    }
  }

  .woman-modal{
    background:url('../images/woman.jpg');
    @media(max-width: 600px){
      background-size: 100%;
    }
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    .close-womanModal{
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      background: rgba(0,0,0,0.6);
      padding: 100px;
      color: #fff;
      font-size: 36px;
      cursor: pointer;
    }
    .modal-content{
      text-align: center;
      font-size: 24px;
    }
  }

  .lover-modal{
    background:url('../images/kiss.jpg');
    @media(max-width: 600px){
      background-size: 100%;
    }
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    .close-loverModal{
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      background: rgba(0,0,0,0.6);
      padding: 100px;
      color: #fff;
      font-size: 36px;
      cursor: pointer;
    }
    .modal-content{
      text-align: center;
      font-size: 24px;
    }
  }

  .professional-modal{
    background:url('../images/professional.jpg');
    @media(max-width: 600px){
      background-size: 100%;
    }
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    .close-professionalModal{
      position: absolute;
      bottom: 0px;
      width: 100%;
      text-align: center;
      background: rgba(0,0,0,0.6);
      padding: 100px;
      color: #fff;
      font-size: 36px;
      cursor: pointer;
    }
    .modal-content{
      text-align: center;
      font-size: 24px;
    }
  }
}
